@{
    ViewData["Title"] = "Home Page";
}

<style>
    #icon{
        margin-top:20px;
        font-size:50px;
        color:#0026ff;
    }
    #icon:hover{
        color:red;
        font-size:60px;
    }
    .card{
        margin-top: 60px;
        margin-bottom:25px;
        border-radius: 10px;
        background-color:beige;
    }
    .row{
        
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center">Biblioteca</h1>
    </div>
</div>

<hr />

<div class="row">

    <!--Classe Funcionários-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Funcionários</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Fornecedores-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Fornecedores</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-users"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Leitor-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Leitor</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-book-reader"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Livros-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Livro</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-book"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Adicionar-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Adicionar</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-file-import"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Devolver-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Devolver</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-undo-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Empréstimo-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Empréstimo</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-file-invoice"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Classe Localização-->
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Localização</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>

</div>
